<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>生成基础代码</title>
		<div th:replace="/common/common_form_header"></div>
		<script type="text/javascript">
			$(function(){
				
			});
			
			function gen(){
				var subject=$("#subject").val();
				var tables=$("#tables").text();
				var dbType = $("#dbType").val();
				var dbEnum = $("#dbEnum").val();
				var packageName = $("#packageName1").val()+$("#packageName2").val();
				var packageName2 = $("#packageName2").val();
				var url = "/system/generator/genCode?tables="+tables+"&packageName="+packageName+"&packageName2="
						+packageName2+"&dbType="+dbType+"&dbEnum="+dbEnum+"&subject="+subject;
				window.open(url);
			}
		</script>
	</head>
	<body style="padding:15px">
		<form id="myForm" method="post">
			<table width="100%">
				<tr>
					<td><br><br></td>
					<td width="15%">您已选择</td>
					<td width="85%">
						<span id="tables" th:text="${tables}"></span>
					</td>
				</tr>
				<tr>
					<td><br><br></td>
					<td>表说明</td>
					<td>
						<input name="subject" id="subject" class="easyui-textbox"  />
					</td>
				</tr>
				<tr>
					<td><br><br></td>
					<td>包名说明</td>
					<td>
						
						如：system.org
					</td>
				</tr>
				<tr>
					<td><br><br></td>
					<td>输入包名</td>
					<td>
						<input size=9 name="packageName1" id="packageName1" value="com.corpdata." class="easyui-textbox"  />
						<input name="packageName2" id="packageName2" class="easyui-textbox"  />
					</td>
				</tr>
				<tr>
					<td><br><br><br></td>
					<td></td>
					<td>
						<a onclick="gen()"  class="layui-btn layui-btn-sm" id="btn-gen">
		            		<i class="layui-icon">&#xe605;</i>确认 &nbsp;
		            	</a>
					</td>
				</tr>
			</table>
		</form>
		<input type="hidden" id="dbType" name="dbType" th:value="${dbType}" />
		<input type="hidden" id="dbEnum" name="dbEnum" th:value="${dbEnum}" />
	</body>
</html>