package ${package}.entity;

import com.corpdata.core.base.BaseEntity;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 * 
 */
public class ${className} extends BaseEntity {

	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	//$column.comments
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)

	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}

public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
