<?xml version="1.0" encoding="UTF-8"?>
<!CTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${className}Mapper">
	<resultMap id="BaseResultMap" type="${package}.entity.${className}">
#foreach($column in $columns)
    #if($column.columnName == $pk.columnName )<id column="id" jdbcType="CHAR" property="id" />
    #end
#if($column.columnName != $pk.columnName )<result column="$column.columnName" property="$column.attrname" />
    #end
#end
  	</resultMap> 
  	
  	<insert id="insert" parameterType="${package}.entity.${className}"#if($pk.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
		insert into ${tableName}
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
			`$column.columnName`#if($velocityCount != $columns.size()), #end

#end			
#end
		)
		values
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
			#{$column.attrname}#if($velocityCount != $columns.size()), #end

#end			
#end
		)
	</insert>
	 
	<update id="update" parameterType="${package}.entity.${className}">
		update ${tableName} 
		<set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
			<if test="$column.attrname != null">`$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()), #end</if>
#end
#end
		</set>
		where ${pk.columnName} = #{${pk.attrname}}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.String">
		delete from ${tableName} where ${pk.columnName} = #{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from ${tableName} where ${pk.columnName} in 
		<foreach item="${pk.attrname}" collection="array" open="(" separator="," close=")">
			#{${pk.attrname}}
		</foreach>
	</delete>
	
	<select id="selectById" resultType="${package}.entity.${className}" parameterType="java.lang.String" resultMap="BaseResultMap">
		select #foreach($column in $columns)`$column.columnName`#if($velocityCount != $columns.size()),#end#end from ${tableName} where ${pk.columnName} = #{id}
	</select>
	
 	<select id="selectCount" resultType="int">
		select count(*) from ${tableName} where 1=1
	</select>

	<select id="selectAll" parameterType="map" resultMap="BaseResultMap">
		select #foreach($column in $columns)`$column.columnName`#if($velocityCount != $columns.size()),#end#end from ${tableName}
        where 1=1 
	</select>
	
	<select id="existsWithKeyName" resultType="int" parameterType="String">
		select 1 from ${tableName} where 1=1 limit 0,1
	</select>
	
</mapper>