<link rel="stylesheet" type="text/css" href="/js/easyui/themes/super/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/js/easyui/themes/super/superBlack.css" id="themeCss">
		<script src="/js/jquery-2.1.1.min.js"></script>
		<script src="/js/easyui/jquery.easyui.min.js"></script>
		<script src="/js/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" src="/js/easyui/themes/super/super.js"></script>
		<script src="/js/common.js"></script>