<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <title>系统管理</title>
	  <link rel="stylesheet" href="/js/plugin/layui/css/layui.css">
	  <link rel="stylesheet" href="/css/t/font_tnyc012u2rlwstt9.css" media="all" />
      <link rel="stylesheet" href="/css/main.css" media="all" />
	  
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
		  <div class="layui-header">
		    <div class="layui-logo">基础开发平台</div>
		    <!-- 头部区域（可配合layui已有的水平导航） -->
		    <ul class="layui-nav layui-layout-left">
		      <!-- 显示/隐藏菜单 -->
              <a href="javascript:" class="iconfont hideMenu icon-menu1"></a>
		    
		      <li class="layui-nav-item"><a href="">控制台</a></li>
		      <li class="layui-nav-item"><a href="">系统监控</a></li>
		      <li class="layui-nav-item">
		        <a href="javascript:;">其它系统</a>
		        <dl class="layui-nav-child">
		          <dd><a href="">邮件管理</a></dd>
		          <dd><a href="">消息管理</a></dd>
		          <dd><a href="">授权管理</a></dd>
		        </dl>
		      </li>
		    </ul>
		    <ul class="layui-nav layui-layout-right">
		      <li class="layui-nav-item">
		        <a href="javascript:;">
		          <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1527930446356&di=0cd41f25abd30fe67131803502e4cea7&imgtype=jpg&src=http%3A%2F%2Fimg2.imgtn.bdimg.com%2Fit%2Fu%3D3431299442%2C477087491%26fm%3D214%26gp%3D0.jpg" class="layui-nav-img">
		          <shiro:principal property="userName"/>
		        </a>
		        <dl class="layui-nav-child">
		          <dd><a href="">基本资料</a></dd>
		          <dd><a href="">安全设置</a></dd>
		        </dl>
		      </li>
		      <li class="layui-nav-item"><a href="">退出</a></li>
		    </ul>
		  </div>
		  
		  <!-- 左侧区域 -->
		  <div class="layui-side layui-bg-black">
		    <div class="user-photo">
              <a class="img" title="我的头像" ><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1527930446356&di=0cd41f25abd30fe67131803502e4cea7&imgtype=jpg&src=http%3A%2F%2Fimg2.imgtn.bdimg.com%2Fit%2Fu%3D3431299442%2C477087491%26fm%3D214%26gp%3D0.jpg"></a>
              <p>你好！<span class="userName" ><shiro:principal property="userName"/></span></p>
            </div>
		    <div class="navBar layui-side-scroll">
		      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		      <ul class="layui-nav layui-nav-tree"   lay-filter="myNav">
		        <li class="layui-nav-item layui-nav-itemed">
		          <a href="javascript:;"><i class="layui-icon" style="font-size: 20px" data-icon=""></i><cite>系统管理</cite><span class="layui-nav-more"></span></a>
		          <dl class="layui-nav-child">
		            <dd>
		            	<a href="/system/org/dept/list" target="centerFrame">
		            		<i class="layui-icon">&#xe613;</i>
		            		<cite>组织管理</cite>
		            	</a>
		            </dd>
		            <dd>
		            	<a href="/system/org/user/list" target="centerFrame" data-url="/system/org/role/list">
		            		<i class="layui-icon">&#xe770;</i>
		            		<cite>用户管理</cite>
		            	</a>
		            </dd>
		            <dd>
		            	<a href="/system/org/role/list" target="centerFrame" data-url="/system/org/role/list">
		            		<i class="layui-icon">&#xe63c;</i>
		            		<cite>角色管理</cite>
		            	</a>
		            </dd>
		            <dd>
		            	<a href="/system/org/role/list" target="centerFrame" data-url="/system/org/role/list">
		            		<i class="layui-icon">&#xe60f;</i>
		            		<cite>菜单管理</cite>
		            	</a>
		            </dd>
		            <dd>
		            	<a href="/system/org/role/list" target="centerFrame" data-url="/system/org/role/list">
		            		<i class="layui-icon">&#xe665;</i>
		            		<cite>系统监控</cite>
		            	</a>
		            </dd>
		            <dd>
		            	<a href="/system/org/role/list" target="centerFrame">
		            		<i class="layui-icon">&#xe705;</i>
		            		<cite>系统日志</cite>
		            	</a>
		            </dd>
		            <dd>
		            	<a href="/system/data-dic/index" target="centerFrame">
		            		<i class="layui-icon">&#xe663;</i>
		            		<cite>数据字典</cite>
		            	</a>
		            </dd>
		            <dd>
		            	<a href="/system/generator/list" target="centerFrame">
		            		<i class="layui-icon">&#xe64e;</i>
		            		<cite>代码生成</cite>
		            	</a>
		            </dd>
		          </dl>
		        </li>
		        <li class="layui-nav-item">
		          <a href="javascript:;">解决方案</a>
		          <dl class="layui-nav-child">
		            <dd><a href="javascript:;">列表一</a></dd>
		            <dd><a href="javascript:;">列表二</a></dd>
		            <dd><a href="">超链接</a></dd>
		          </dl>
		        </li>
		        <li class="layui-nav-item"><a href="">云市场</a></li>
		        <li class="layui-nav-item"><a href="">发布商品</a></li>
		      </ul>
		    </div>
		  </div>
		  
		  <!-- 右侧内容 -->
	    <div class="layui-body" style="buttom:0px">
            <div class="layui-tab-content clildFrame">
                <div class="layui-tab-item layui-show">
                    <iframe src="" id="centerFrame" name="centerFrame"></iframe>
                </div>
            </div>
	    </div>

		  
		</div>
		<script src="/js/plugin/layui/layui.js"></script>
		<script>
			layui.use('element', function(){
			  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
			  
			  //监听导航点击
			  element.on('nav(myNav)', function(elem){
			    //console.log(elem)
			    alert(elem.data-url());
			  });
			});
		</script>
		<!-- 
		<script type="text/javascript" src="https://admin.mysiteforme.com/static/js/leftNav.js?v=2.0"></script>
		<script type="text/javascript" src="https://admin.mysiteforme.com/static/js/index.js?t=3.0"></script>
		 -->
	</body>
</html>