<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corpdata.system.org.dao.OrgRoleMapper">
  <resultMap id="BaseResultMap" type="com.corpdata.system.org.entity.OrgRole">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="Role_Name" jdbcType="VARCHAR" property="roleName" />
    <result column="Role_Desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="Sort_number" jdbcType="INTEGER" property="sortNumber" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from org_role
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.corpdata.system.org.entity.OrgRole">
    insert into org_role (id, Role_Name, Role_Desc, 
      Sort_number, creater, created, 
      modified)
    values (#{id,jdbcType=CHAR}, #{roleName,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR}, 
      #{sortNumber,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{modified,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.corpdata.system.org.entity.OrgRole">
    update org_role
    set Role_Name = #{roleName,jdbcType=VARCHAR},
      Role_Desc = #{roleDesc,jdbcType=VARCHAR},
      Sort_number = #{sortNumber,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, Role_Name, Role_Desc, Sort_number, creater, created, modified
    from org_role
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Role_Name, Role_Desc, Sort_number, creater, created, modified
    from org_role 
    where 1 = 1
    <if test="searchStr != null">
		and ( Role_Name like '%${searchStr}%' or Role_Desc like '%${searchStr}%' )
	</if>
    order by Sort_number
  </select>
  <select id="findOrgRoleList" parameterType="map" resultMap="BaseResultMap">
		select id, Role_Name, Role_Desc, Sort_number, creater, created, modified
    from org_role order by Sort_number
	</select>
  <select id="getRolesByUser" resultType="String" parameterType="java.lang.String">
  	select fk_role from org_user_role where userid=#{userId}
  </select>
</mapper>