<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/js/plugin/layui-v2.2.5/layui/css/layui.css">
<link rel="stylesheet" href="/js/plugin/select2/select2.css"><!-- 下拉框的 -->
		<link rel="stylesheet" href="/js/plugin/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/js/plugin/bootstrapValidator/bootstrapValidator.min.css"/>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/js/plugin/bootstrap/css/bootstrap.min.css">
		<script src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/plugin/bootstrap/js/bootstrap.min.js"></script>
	   	<script type="text/javascript" src="/js/plugin/bootstrapValidator/bootstrapValidator.min.js"></script>
		<script src="/js/plugin/layui-v2.2.5/layui/layui.js"></script>
		<script src='../../../js/plugin/select2/select2.full.js'></script><!-- 下拉框的  -->
		<script src="/js/common.js"></script>