package ${package}.dao;

import ${package}.entity.${className};
import org.apache.ibatis.annotations.Mapper;
import com.cpda.common.base.BaseMapper;

/**
 * ${comments} 持久层接口
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 * 
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}>{

}
