package ${package}.service;

import ${package}.entity.${className};
import com.cpda.common.base.BaseService;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 * 
 */
public interface ${className}Service extends BaseService<${className}>{
	
}
