<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corpdata.app.test.dao.TestMapper">
	<delete id="deleteByTotal" parameterType="int">
	    delete from test 
	    where total = #{total} 
	</delete>
</mapper>