<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>菜单管理</title>
        <div th:replace="/common/system_form_header" ></div>
        <!--引入CSS-->
        <link rel="stylesheet" type="text/css" href="/js/plugin/webuploader-0.1.5/webuploader.css">
        <!--引入JS-->
        <script type="text/javascript" src="/js/plugin/webuploader-0.1.5/webuploader.min.js"></script>
        <script type="text/javascript">
            $(function () {

            });

            var uploader = WebUploader.create({

                // swf文件路径
                swf:  '/js/plugin/webuploader-0.1.5/Uploader.swf',

                // 文件接收服务端。
                server: 'http://webuploader.duapp.com/server/fileupload.php',

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#picker',

                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize: false
            });

            // 当有文件被添加进队列的时候
            uploader.on( 'fileQueued', function( file ) {
                $list.append( '<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                    '</div>' );
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on( 'uploadProgress', function( file, percentage ) {
                var $li = $( '#'+file.id ),
                    $percent = $li.find('.progress .progress-bar');

                // 避免重复创建
                if ( !$percent.length ) {
                    $percent = $('<div class="progress progress-striped active">' +
                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                        '</div>' +
                        '</div>').appendTo( $li ).find('.progress-bar');
                }

                $li.find('p.state').text('上传中');

                $percent.css( 'width', percentage * 100 + '%' );
            });

        </script>
    </head>
    <body style="padding: 10px">
        <form id="ff" class="easyui-form" method="post" enctype="multipart/form-data" data-options="novalidate:true">
            <table class="form-table">
                <tr>
                    <td width="90">附件</td>
                    <td>
                        <div id="uploader" class="wu-example">
                            <!--用来存放文件信息-->
                            <div id="thelist" class="uploader-list"></div>
                            <div class="btns">
                                <div id="picker">选择文件</div>
                                <button id="ctlBtn" class="btn btn-default">开始上传</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-table-button">
                <button onclick="submitForm()" class="easyui-linkbutton l-btn l-btn-small primary" type="button"> 上传 </button>
                <button onclick="closeWindow()" class="easyui-linkbutton l-btn l-btn-small default" type="button"> 关闭 </button>
            </div>
        </form>
        <script>
            function submitForm(){
                $('#ff').form('submit',{
                    url:"/system/file/upload",
                    onSubmit:function(){
                        return $(this).form('enableValidation').form('validate');
                    },
                    success:function(data){
                        var data = eval('(' + data + ')');
                        window.parent.$('#searchTable').treegrid('reload');
                        window.parent.$('#win').window('close');
                        showMessage(window.parent,data.msg);
                    }
                });
            }
        </script>
    </body>
</html>